h1 {
    color: red;
    background-color: black;
    border: solid yellowgreen
}

body {
    background-color: darkolivegreen;
}



p+h2 {
    font-weight: bolder;
    border: dashed green;
}

form {

    font-size: larger;
    font-weight: bold;
}

footer {

    background-color: black;
    border: 400px;
    padding: 30px;
    text-align: center;
}

h2 {
    color: goldenrod;
}